.imgProductos {
    width: 150px;
    height: 200px;
    object-fit: contain;
    margin-top: 1rem;
}

.card {
    display: flex;
    align-items: center;
    margin: 0.5rem;
}

.colorBoton {
    color:white;
    background-color: rgb(5, 25, 49);
}

.colorBoton:hover {
    background-color: rgb(5, 25, 49);
    color: white;
}

